#logo{
	font-family: 'Lemonada', cursive;
	font-weight: 600;
}
.imgSophi{
	width: 33%;
	margin-top: 12em;

}
.imgSophi img{
	width: 90%;
}
.glo1{
	width: 80%;
	margin-left: -15em;
	margin-top: 4em;
}
.contGlo{
	width: 12%;

}

.glo2{
	width: 80%;
	margin-top: 9em;
	margin-left: -17em;
}
.glo3{
	width: 80%;
	margin-top: 16em;
	margin-left: -22em;
}
.glo4{
	width: 80%;
	margin-top: 24em;
	margin-left: -31em;
}
.glo5{
	width: 80%;
	margin-top: 33em;
	margin-left: -45em;
}
.glo6{
	width: 80%;
	margin-top: 36em;
	margin-left: -63em;
}
.textC{
	display:flex;
	justify-content:flex-start;
	flex-direction: row;
	width:70%;
	height:200px;
	
	font-family: 'Muli', sans-serif;
}
.textC p{
	width: 80%;
	height: 300%;
	background-color:white;
	margin-top: -70px;
    
	
}
.textC img {
	width: 24%;
	height: 200px;
	margin-left: 800px;
	margin-top: -700px;
	
}
.hidden{
	display: none;
}
.container{
	width: 100%;
}
#modal {
	
	display: none;
	padding: 70px;
    position:fixed;
    background-color: rgba(255,255,255,0.7);
    border:solid violet 6px;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
#textM2 {
	width: 40%;
	height: 400px;

}
span {
	padding:10px 10px;
	height: 10px;
	color: red;
    border:2px solid red;
    background-color: pink;
    margin-left: 1100px;
    top: -400px;
}
.iconosInformacion{
	width: 100%;
	height: 900px;
	background-image: url(../img/fdo.jpg);
}