
header{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 3em;

}
nav{
  height: auto;
  color: #fff;
  width: 100%;
  display: flex;
  height: auto;
  justify-content: center;
  align-content: center;
}
article{
  display: flex;
}
  nav article.enlaces{
    width: 90%;
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav article.enlaces p{
    width: 20%;
    text-align: center;
    justify-content:center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
  }
  article.enlaces p a {
    display: flex;
    text-decoration: none;
    flex-direction: row;
    text-decoration: none;
    font-style: normal;
    font-family: helvetica;
    font-size: 1.5em;
    padding: 2em;
    /*inserte color */
  }
  nav article.logo {
    width:10%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  nav article.logo img.loguito{
    width: 50%;
  }
